# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo-related
.expo/
.expo-shared/
.expo-cache/
dist/
web-build/
expo-env.d.ts

# Build cache
*.log
*.tmp
*.temp
.cache/
npm-debug.*
yarn-debug.*
yarn-error.*

# Metro
.metro-health-check*

# OS-specific
.DS_Store
Thumbs.db

# Android/iOS builds
android/
ios/

# Native credentials
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment files
.env
.env*.local
.env.production
.env.development

# TypeScript
*.tsbuildinfo

# Editor-specific
.vscode/
.idea/
*.swp
.history/

# Jest snapshots
__snapshots__/

# Ignore example apps
app-example
